<div class="header">
  <p><span class="total-price">Total Price: </span> <span class="price"> ₱ <%= order.productData.totalPrice.toFixed(2) %> </span>
  </p>
  <h3 class="status"> <%=order.status %></h3>
</div>


<h4 class="name"><%=order.userData.name%></h3>
  <h5 class="date"> <%=order.formattedDate %></h5>
  <address> <%=order.userData.street.street%>, <%=order.userData.street.city%>, <%=order.userData.street.postalCode%></address>

  <ul class="products">
    <%for (const item of order.productData.items){%>
    <li>
      <p><%=item.product.shortenTitle%> - <%=item.totalPrice%> x <%=item.quantity%> </p>
    </li>
    <% }%>
  </ul>
  <% if(locals.isAdmin) { %>
  <section class="order-actions">
    <form>
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      <input type="hidden" name="orderid" value="<%= order.id %>">
      <select name="status">
        <option value="pending" <% if (order.status === 'pending') { %>selected<% } %>>Pending</option>
        <option value="fulfilled" <% if (order.status === 'fulfilled') { %>selected<% } %>>Fulfilled</option>
        <option value="cancelled" <% if (order.status === 'cancelled') { %>selected<% } %>>Cancelled</option>
      </select>
      <button class="btn btn-alt">Update</button>
    </form>
  </section>
  <%} %>