<%- include('../shared/includes/head', { pageTitle: 'Shopping Cart' }) %>
<link rel="stylesheet" href="../styles/shopping-cart.css">
<script type="module" src="/scripts/api/add-minus-quantity.js" defer> </script>
</head>

<body>
  <%- include('../shared/includes/header') %>
  <main>
    <section>
      <div class="shopping-cart">
        <h3 id="title"> Shopping Cart</h3>
        <table>
          <th>
            Product
          </th>
          <th>
            Price
          </th>
          <th>
            Quantity
          </th>
          <th>
            Total Price
          </th>
          <% for (const cartItem of locals.cart.items) { %>
          <%- include('./includes/shopping-cart-item', {cartItem}) %>
          <%   } %>
        </table>
        <p id="total-price-p"><span id="total-price-title">Total Price:</span>
          <span id="total-price"> ₱ <%= locals.cart.totalPrice.toFixed(2)%></span>
        </p>
        <div id="table-actions">
          <form action="/home/orders" method="POST">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <% if(locals.isAuth ) { %>


            <% if (locals.cart.cartQuantity > 0) { %>
            <button class="btn cart"> Buy Products</button>
            <% } else { %>
            <a class="btn cart" href="/"> Buy Products</a>
            <% } %>

            <% } else { %>
            <a class="btn cart" href="/signin"> Buy Products</a>
            <%  } %>

          </form>
        </div>
    </section>
  </main>

  <%- include('../shared/includes/footer') %>