<%- include('../shared/includes/head', { pageTitle: 'Choxxi Login' }) %>
<link rel="stylesheet" href="/styles/login.css">
<script src="/scripts/input-style.js" defer></script>
<script src="/scripts/input-error.js" defer></script>
<script src="/scripts/modal.js" defer></script>
</head>

<body>
  <%- include('../shared/includes/header') %>
  <main>
    <%- include('../shared/includes/modal') %>
    <section>
      <div>
        <form action="/signin" method="POST" class="login-container">
          <input type="hidden" name="_csrf" value="<%=locals.csrfToken %>">
          <%-include('./includes/login-header', { className: 'signin'}) %>

          <div class=" meta-container">

            <div class="input-container" data-error="<%=inputData.errorMessage.email%>">
              <i class="bi bi-person-circle"></i>
              <label for="email">Email</label>
              <input type="text" class="myText" name="email" id="email" value="<%=inputData.email%>" autocomplete="email" required>
            </div>

            <div class="input-container" data-error="<%=inputData.errorMessage.password%>">
              <i class="bi bi-keyboard-fill"></i>
              <label for="password">Password</label>
              <input type="password" name="password" id='password' value="<%=inputData.password%>" required>
            </div>

          </div>

          <p id="forgot-password" class="blue"><a href="">Forgot Password?</a></p>

          <div class="login-actions">

            <button class="login-btn alt">
              <i class="bi bi-box-arrow-right"></i>
              Sign in
            </button>

            <div class="login-btn alt alts">
              <p> Don't have an account ? <span><a href="/signup" class="blue"> Sign up</a></span> </p>
            </div>


          </div>
        </form>
      </div>
      </div>
    </section>
  </main>

  <%- include('../shared/includes/footer') %>